* {

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

h1 {

    display: flex;
    box-sizing: border-box;
    padding: 1rem 0;

    background-color: white;
    color: black;

    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    width: 100%;
    height: auto;

    font-size: calc(4vw + 1em);

}

h1 a {
    height: 100%;
    width: 100%;

    color: inherit;
    text-decoration: none;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

ul {

    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
    list-style: none;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

}



ul::-webkit-scrollbar {
    display: none;
}



li {

    box-sizing: border-box;
    min-width: 45%;
    height: 15vh;


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-weight: 300;

    color: white;
    text-shadow: 1px 1px 3px black;
    font-size: calc(1vw + 1em);

    transition: 200ms;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

li a {
    height: 100%;
    width: 100%;

    color: inherit;
    text-decoration: none;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


li:nth-child(1) {

    background-color: powderblue;
    background-image: url(nl.jpg);

}

li:nth-child(2) {

    background-color: skyblue;
    background-image: url(plane.jpg);
}

li:nth-child(3) {

    background-color: steelblue;
    background-image: url(usa.jpg);
}

li:nth-child(4) {

    background-color: lightblue;
    background-image: url(fl.jpg);
}

li:nth-child(5) {

    background-color: lightskyblue;
    background-image: url(rodekruis.jpg);
}

li:nth-child(6) {

    background-color: black;
    background-image: url(vraag.jpg);

}

main {

    width: 95%;
    margin: 5vh auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(100% - 2%), 1fr));
    grid-gap: 2%;

}



main p {

    line-height: 125%;
    font-size: 1.2em;

}

main p:not(:first-of-type) {

    padding-top: 1.5em;

}

h2 {
    font-size: 200%;
    text-align: center;
    margin-bottom: .5rem;
}

section {

    background-color: pink;
    padding: 5%;
    filter: drop-shadow(0px 0px .1rem rgba(0, 0, 0, .5));

}

section:last-of-type {

    background-color: aquamarine;


}

section img {

    display: flex;
    max-width: 80%;
    max-height: auto;

    margin: 5% auto;



}

/*Mobile first!*/
/*Breakpoints*/
@media all and (min-width: 600px) {

    ul {

        display: flex;
        flex-flow: row wrap;

    }


    ul::-webkit-scrollbar {
        display: auto;
    }

    li {
        min-width: calc(100% / 3);
        height: 15vh;
        font-weight: lighter;
        font-size: calc(2vw + 1em);
    }


    main {

        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 5%), 1fr));
        grid-gap: 5%;
    }

    main p {

        line-height: normal;
        font-size: 1.1em;

    }


}

/*dark mode experiment*/
/*
@media all and (prefers-color-scheme: dark) {
    html {
        background-color: black;
    }

    h1 {
        color: white;
        background-color: black;
    }

    ul li {
        -webkit-filter: grayscale(50%);
    }

    section {
        background-color: darkslateblue !important;
        color: white;
    }

}
*/

li:hover {

    transition: 250ms;
    -webkit-filter: brightness(110%);
    -webkit-box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.4);
}
