* {

    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'Roboto', 'Arial', sans-serif;
    scroll-behavior: smooth;

}


.flex-homepage {

    position: relative;
    pointer-events: none;
    display: flex;
    height: 100vh;
    width: 100%;

    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;

    background-color: dodgerblue;
    background-image: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.flex-homepage figure {

    display: inline-block;
    pointer-events: visible;
    position: absolute;
    text-align: center;
    bottom: 2.5vh;
    width: 100%;
    margin: 0 auto;

    font-size: 5vh;
    font-weight: 900;
    color: white;
    text-shadow: 0 0 .1vh black;

    transition: 250ms;

}

.flex-homepage figure:hover {

    bottom: 3.5vh;
    text-shadow: 0 0 .5vh black;

}

button {

    position: absolute;
    bottom: 25vh;
    box-shadow: 0 0 1px #000;
    pointer-events: auto;
    margin: auto;
    font-size: 1.2rem;
    padding: 1.25rem 3rem;
    border: none;
    color: white;
    background-color: tomato;
    border-radius: 5vh;

}

button:hover {
    transition: 250ms;
    background-color: #fff;
    color: #000;
}

h1 {

    margin: auto;
    text-align: center;
    font-weight: 400;
    color: #fff;
    font-size: calc(7vw + 1em);

}


nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid grey;
}

ul {

    display: flex;
    height: 7.5vh;
    background-color: white;
    flex-flow: row nowrap;
    overflow: scroll;
    list-style: none;
    align-items: flex-end;
    scrollbar-width: none;

}


li {

    box-sizing: border-box;
    min-width: 40%;
    height: 5vh;
    padding: 0 .5rem calc(1vh - 3px) .5rem;
    border-radius: 10px 10px 0 0;
    border-bottom: 3px solid transparent;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-weight: 600;

    color: #000;
    font-size: calc(1vw + 1em);

    transition: 250ms;
}

li a {
    height: 100%;
    width: 100%;

    color: inherit;
    text-decoration: none;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}



main {

    position: relative;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(100%), 1fr));


}

main p {

    line-height: 125%;
    font-size: 1.1em;

}

main p:not(:first-of-type) {

    padding-top: 1.5em;

}

h2 {
    font-size: 3vh;
    text-align: center;
    margin-bottom: .5rem;
}

section {

    background-color: pink;
    padding: 3vh;
    filter: drop-shadow(none);

}

section:last-of-type {

    background-color: aquamarine;

}

section img {

    display: flex;
    max-width: 90%;
    max-height: auto;

    margin: 5% auto;

}

/*Mobile first!*/
/*Breakpoints*/
@media all and (min-width: 750px) {

    ul {

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;

    }

    li {

        min-width: 3vw;
        margin-left: 1vw;
        border-bottom: 3px solid transparent;
        height: 5vh;
        font-weight: lighter;
        font-size: calc(1vw + 1em);

    }

    li:last-of-type {
        margin-right: 15vw;
    }

    li:first-of-type {
        margin-right: auto;
        margin-left: 15vw;
    }

    main {

        margin: 5vh auto;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 5%), 1fr));
        grid-gap: 5%;
    }

    section {
        filter: drop-shadow(0px 0px .1rem rgba(0, 0, 0, .5));
    }

    main p {

        line-height: normal;
        font-size: 1.2em;

    }

    main p:not(:first-of-type) {

        padding-top: 1rem;

    }

}

/*dark mode experiment*/
/*
@media all and (prefers-color-scheme: dark) {
    html {
        background-color: black;
    }

    h1 {
        color: white;
        background-color: black;
    }

    ul li {
        -webkit-filter: grayscale(50%);
    }

    section {
        background-color: darkslateblue !important;
        color: white;
    }

}
*/

li:hover {
    border-bottom: 3px solid black;
}
