* {

    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Raleway', 'Arial', sans-serif;
    scroll-behavior: smooth;

}

body {
    background-color: ghostwhite;
}

/*Paginagrote foto op homepage*/
.flex-homepage {

    position: relative;
    pointer-events: none;
    display: flex;
    height: 100vh;
    width: 100%;

    margin-top: -7.5vh;

    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;

    background-color: dodgerblue;
    background-image: url(images/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*Het v'tje dat hint naar meer content op de pagina*/
.flex-homepage figure {

    display: inline-block;
    pointer-events: visible;
    position: absolute;
    text-align: center;
    bottom: 2.5vh;
    width: 100%;
    margin: 0 auto;

    font-size: 5vw;
    font-weight: 900;
    color: white;
    text-shadow: 0 0 .1vh black;

    transition: 300ms ease-in;

}

/*Animatie voor het v'tje*/
.flex-homepage figure:hover {

    bottom: 3.5vh;
    text-shadow: 0 0 .5vh black;

}

/*Grote oranje, call to action knop op de homepage*/
.button {

    box-sizing: border-box;
    text-decoration: none;
    position: absolute;
    bottom: 20vh;
    box-shadow: 0 0 1px #000;
    pointer-events: auto;
    margin: auto;
    font-size: 1.5rem;
    padding: 2.5vh 7.5vw;
    border: none;
    color: white;
    background-color: #f54;
    border-radius: 5vh;
    transition: 250ms ease;

}

/*Animatie voor de knop*/
.button:hover {
    transition: 250ms ease;
    background-color: #fff;
    color: #000;
}

/*Titel op de homepagina*/
h1 {

    margin: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: calc(7vw + 1em);

}

/*Navigatie*/
nav {
    background-color: transparent;
    height: 7.5vh;
    width: 100%;
}


nav ul {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid grey;

    display: flex;
    height: 7.5vh;
    background-color: white;
    flex-flow: row nowrap;
    overflow: scroll;
    list-style: none;
    align-items: flex-end;

    scrollbar-width: none;

}

/*Scrollbar verstop trucje*/
nav ul::-webkit-scrollbar {

    display: none;
}


nav ul li {

    box-sizing: border-box;
    min-width: 40%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    border-bottom: 3px solid transparent;

    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 400;

    color: #000;
    font-size: calc(1vw + 1em);

    transition: 250ms ease;
}

/*Zorgt dat de navigatie links de hele ruimte in beslag neemt en dat de stijling hetzelfde blijft*/
nav ul li a {
    height: 100%;
    width: 100%;

    color: inherit;
    text-decoration: none;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/*Andere kleur in de nav voor huidige (actieve) pagina*/
.nav-active {
    border-bottom: 3px solid #f54;
    color: #f54;
    transition: 250ms ease;
}

.nav-active:hover {
    border-bottom: 3px solid black;
    color: black;
}

/*Main styling - op desktop neemt het de gehele schermbreedte in*/
main {

    position: static;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(100%), 1fr));

}

/*Body text styling*/
main p,
li {

    line-height: 125%;
    font-size: 20px;
}

/*Ruimte tussen p's behalve de eerste*/
main p:not(:first-of-type) {

    padding-top: .9em;

}

/*Stijling voor level 2 en 3 headers*/
h2 {
    font-size: calc(1.05em + 1.1vw);
    font-family: 'Raleway', sans-serif;
    text-align: left;
    margin-bottom: 1em;
}

h3 {
    margin-top: 1em;
    font-size: calc(1.05em + .6vw);
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

/*Stijling voor de sections*/
section {
    color: white;
    padding: 3vh;
    filter: drop-shadow(none);
    background: linear-gradient(35deg, #f54, darkblue);

}

/*Stijling voor eventuele afbeeldingen in de sections*/
section img {

    display: flex;
    max-width: 100%;
    max-height: 50vh;
    margin: 1em auto;

}

/*Stijling voor specifiek grid element met achtergrondfoto en extra grote header*/
.span-ontdek {
    background-image: url(images/4.jpg);
    min-height: 33vh;
    text-shadow: 2px 2px 0 black;
    font-size: 7vw;

    background-position: 45%;
    background-repeat: no-repeat;
    background-size: cover;
}


nav ul li:hover {
    border-bottom: 3px solid black;
}

/*Formulier*/
fieldset {

    box-sizing: border-box;
    width: 60%;
    margin: 0 auto;
    margin-top: 2em;
    padding: 1em;
}


input[type=text] {

    padding: calc(.2em - 2px);
    border: 2px solid transparent;

}

input[type=submit] {

    margin-top: 1.5em;
    margin-bottom: 0;
    padding: .5em;
    border: none;
    background-color: black;
    color: white;
    transition: 200ms;

}

input[type=submit]:hover {

    color: Black;
    background-color: white;
    transition: 200ms;

}

input[type=text]:focus {
    border: 2px solid #f54;
}

input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input {

    margin-bottom: 1em;
    border-radius: 5px;
}

label::after {
    content: ':';
}

figcaption {
    display: none;
}


section ul li {
    list-style-position: inside;
    margin: .2em 0;
}


/*Mobile first!*/
/*Breakpoints*/
@media all and (min-width: 920px) {

    nav ul {

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;

    }

    nav ul li {

        min-width: 4vw;
        margin: 0 .5em;
        border-bottom: 3px solid transparent;
        height: 100%;
        font-weight: 300;
        font-size: calc(1vw + 1em);

    }

    nav ul li:last-of-type {
        margin-left: auto;
        margin-right: 15vw;
    }

    nav ul li:first-of-type {
        margin-right: auto;
        margin-left: 15vw;
    }

    main {

        top 0;
        margin: 2.5vh auto;
        width: 90vw;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc((100%/3) - 1vw), 1fr));
        grid-gap: 1vw;
    }

    section {
        filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, .2));
    }

    main p {

        line-height: normal;
        font-size: 1.2em;

    }

    main p:not(:first-of-type) {

        padding-top: 1rem;

    }

    .flex-homepage figure {
        display: none
    }

    /*Grid Styling*/
    .span-ontdek {
        grid-column: 1 / span 2;
    }

    .span-home {
        grid-column: 2 / span 3;
    }

    .span-body {
        grid-column: 1 / span 2;
    }

    section figure {
        float: right;
        max-width: 40%;
        padding: 2%;
        background-color: white;
        margin: 0 0 1em 1em;
        filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, .2));
    }

    section figure img {
        margin: 0;
        padding: 0;
    }

    figcaption {
        display: block;
        color: black;
        font-family: "Brush Script MT", cursive;
        text-align: center;
        padding: .5em 0 0 0;
        line-height: 95%;
        transform: rotate(-2deg);
        font-size: 2em;
    }

}
